fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
python-jose
passlib[bcrypt]
bcrypt>=3.2,<4
python-multipart
alembic
pydantic
pydantic-settings
asyncpg
aiokafka
python-dotenv
pydantic[email]
PyJWT
