ServerUrl=http://192.168.115.12
ApiBaseUrl=http://192.168.115.12/api
DisplayUrl=http://192.168.115.12/ru/admin/operator-display?fullscreen=1
MonitorIndex=2
DisplayMode=Kiosk
DisplayScale=0.9
DisplayAutoFit=true
FullScreen=false
RefreshSeconds=5
Browser=Auto
RememberEmail=true
